$color-blue: #254d55;
$color-blue-footer: #254d55;
$link-active: #228686;
$white: #fff;

// Colors used in the layout areas

 //== Desc Area
 $color-green: #449e9c;
 $color-grey: #c9c7ae;
 $color-orange: #f3582a;

 //== Desc 2
 $color-bg1: #bdac90;
 $color-off-white: #fefefe;

 //=Desc 4
 $color-bg2: #d4d2b9;
 $color-head: #227c7c;